@model IEnumerable<PlanesTuristicos.Models.Proveedor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Proveedor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Proveedor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Proveedor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
